<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>FORM</title>
  </head>
  <body>

    <form action="index.html" method="post">
      Your name: <br>
      <input type="text" name="name"><br>
      Your age: <br>
      <input type="text" name="age" ><br>
      Your id: <br>
      <input type="text" name="job"><br>
      Your gender:<br>
      <input type="radio" name="gender" value="male">Male<br>
      <input type="radio" name="gender" value="female">Female<br>
      <input type="submit" value="Submit">

    </form>

  </body>
</html>
